#home {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  width: 80vw;
}

.home-title {
  font-size: 34px;
  font-weight: 700;
  margin-block-start: 50px;
  margin-left: 20px;
}

.home-subtitle {
  font-size: 14px;
  color: #6e6e6e;
  margin-left: 20px;
}

.candidates-list{
  margin-block-start: 30px;
  overflow-x: scroll;
  width: auto;
  height: 1000px;
}


@media only screen and (max-width: 1170px) {
  #home {
  font-size: smaller;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
}

.home-title{
  font-size: 30px;
  text-align: center;
  width: calc(100% - 60px);
}
.home-subtitle{
  text-align: center;
  width: calc(100% - 60px);
}

}


